/* You can add global styles to this file, and also import other style files */

body {
  /* margin-top: 15px;
  margin-bottom: 10px; */
}

.input-group {
  margin-bottom: 15px;
}

.my-pagination /deep/ .ngx-pagination .current {
    background-color: red;
  }

.my-pagination{
	float: right;
}  
.navbar-left {
  float: left !important;
}
.navbar-right{
  float: right !important;
  margin-right: 10px;
}
.navbar-right .dropdown-menu {
  right: auto;
  left: auto;
}

.footer {
  position: fixed;
  z-index:1000;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #b6bfcb;
  color: #062845;
  text-align: center;
}
.navbar {
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-radius: 0px;
  background-color: #b6bfcb;
  box-shadow: 1px 2px 12px;
}

.card-shadow:hover{
  box-shadow: 1px 2px 12px ghostwhite;

}