<div id="wrapper">
        <!-- <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">Home</li>
                </ol>
              </nav> -->
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav ">
            <li routerLinkActive="active" >
                <a routerLink="about" class="nav-item nav-link" routerLinkActive="active">
                    <i class="fa fa-home"></i> Home
                </a>
            </li>
            <li >
                <a routerLink="dashboard" class="nav-item nav-link" routerLinkActive="active">
                    <i class="fa fa-tachometer"></i> Dashboard
                </a>
            </li>
            <li >
                <span class="nav-item" style="color:#999999;"> <i class="fa fa-cube"></i> Models</span>
                <ul style="list-style: none;">
                    <li >
                        <a [routerLink]= "['cars', 'Audi']" class="nav-item nav-link" routerLinkActive="active">
                                <i class="fa fa-car"></i> Audi
                         </a>
                    </li>
                    <li >
                            <a [routerLink]= "['cars', 'Tesla']" class="nav-item nav-link" routerLinkActive="active">
                                    <i class="fa fa-car"></i> Tesla
                            </a>
                    </li>
                </ul>
            </li>
            <li>
                <a routerLink="contact" class="nav-item nav-link" routerLinkActive="active">
                        <i class="fa fa-phone-square"></i> Contact Us
                 </a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <router-outlet></router-outlet>
    </div>
    <!-- /#page-content-wrapper -->
 
</div>
<!-- /#wrapper -->