<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
                <a routerLink="about" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <i class="fa fa-home"></i> Home
                </a>
            </li>
            <li>
                <a routerLink="dashboard" class="nav-item nav-link" routerLinkActive="active">
                    <i class="fa fa-list"></i> Dashboard
                </a>
            </li>
            <li>
                <span class="nav-item" style="color:#999999;"> <i class="fa fa-car"></i>Models</span>
                <ul>
                    <li>
                        <a routerLink="audi" class="nav-item nav-link" routerLinkActive="active">
                                Audi
                         </a>
                    </li>
                    <li>
                            <a routerLink="tesla" class="nav-item nav-link" routerLinkActive="active">
                                   Tesla
                            </a>
                    </li>
                </ul>
            </li>
            <li>
                <a routerLink="catbreed" class="nav-item nav-link" routerLinkActive="active">
                        <i class="fa fa-phone-square"></i>Contact
                 </a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <router-outlet></router-outlet>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->